<!DOCTYPE html>
<head>
    <style>
        #canvas-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust as needed */
        }

        canvas {
            border: 1px solid #d3d3d3;
        }
    </style>
</head>

<html>

<body>
    
    <div id="canvas-container">
        <canvas id="canvas" width="800" height="600" style="border:1px solid #d3d3d3;"> Your browser does not support the
            HTML5 canvas tag.</canvas>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/games/highway_rider/script.js') }}"></script>


    <script>
        Game.initialize();

        Game.run = (function () {
            var loops = 0;
            var maxFrameSkip = 10;
            var nextGameTick = (new Date).getTime();

            var points = 0.0;

            return function () {
                loops = 0;

                while ((new Date).getTime() > nextGameTick) {
                    Game.update();

                    nextGameTick += Game.skipTicks;

                    loops++;
                    points++;

                    if (Game.skipTicks > 0.8) {
                        Game.skipTicks = 1000 / Game.fps;
                    }

                }

                Game.draw(points);
            };
        })();

        (function () {
            var onEachFrame;
            if (window.webkitRequestAnimationFrame) {
                onEachFrame = function (cb) {
                    var _cb = function () {
                        cb();
                        webkitRequestAnimationFrame(_cb);
                    }
                    _cb();
                };
            }
            else if (window.mozRequestAnimationFrame) {
                onEachFrame = function (cb) {
                    var _cb = function () {
                        cb();
                        mozRequestAnimationFrame(_cb);
                    }
                    _cb();
                };
            }
            else {
                onEachFrame = function (cb) {
                    setInterval(cb, 1000 / 60);
                }
            }

            window.onEachFrame = onEachFrame;
        })();

        window.onEachFrame(Game.run);
    </script>

</body>

</html>