<!DOCTYPE html>
<html>
<head>
    <title>Chess AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/games/chess/chess.css') }}"/>
</head>
<body>
    <div class="d-flex justify-content-between">
        <h1 class="m-1 p-5" style="color:aliceblue;font-size: 60px;">Chess Game</h1>
        <p class="m-5" id="timer">05:00</p>
    </div>
    <div id="container"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/games/chess/chess.js') }}"></script>
</body>
</html>
